﻿@using Backend1.Services;
@inject ICalcService CalcService;
@inject IRandomValService RandomValService;
@{
    ViewData["Title"] = "AccessServiceDirectly";
}

<h2>AccessServiceDirectly</h2>

@{
    var f = @RandomValService.GetRandomVal(0, 10);
    var sec = @RandomValService.GetRandomVal(0, 10);
    var a = @CalcService.CalcAdd(f, sec);
    var s = @CalcService.CalcSub(f, sec);
    var m = @CalcService.CalcMult(f, sec);
    var d = @CalcService.CalcDiv(f, sec);
 }


<dl>
    <dt>Rand Value First : @f</dt>
    <dt>Rand Value Second : @sec</dt>

    <dt>Add :</dt>
    <dd>@f + @sec = @a</dd>
    <dt>Sub :</dt>
    <dd>@f - @sec = @s</dd>
    <dt>Mult :</dt>
    <dd>@f * @sec = @m</dd>
    <dt>Div :</dt>
    <dd>@f / @sec = @d</dd>
</dl>