﻿
@{
    ViewData["Title"] = "PassUsingViewBag";
}

<h2>PassUsingViewBag</h2>

<dl>
    <dt>Rand Value First : @ViewBag.ValFst</dt>
    <dt>Rand Value Second : @ViewBag.ValSec</dt>

    <dt>Add :</dt>
    <dd>@ViewBag.ValFst + @ViewBag.ValSec = @ViewBag.ValA</dd>
    <dt>Sub :</dt>
    <dd>@ViewBag.ValFst - @ViewBag.ValSec = @ViewBag.ValS</dd>
    <dt>Mult :</dt>
    <dd>@ViewBag.ValFst * @ViewBag.ValSec = @ViewBag.ValM</dd>
    <dt>Div :</dt>
    <dd>@ViewBag.ValFst / @ViewBag.ValSec = @ViewBag.ValD</dd>
</dl>
