﻿@{
    ViewData["Title"] = "PassUsingViewData";
}

<h2>PassUsingViewData</h2>


<dl>
    <dt>Rand Value First : @ViewData["ValFst"]</dt>
    <dt>Rand Value Second : @ViewData["ValSec"]</dt>

    <dt>Add :</dt>
    <dd>@ViewData["ValFst"] + @ViewData["ValSec"] = @ViewData["ValA"]</dd>
    <dt>Sub :</dt>
    <dd>@ViewData["ValFst"] - @ViewData["ValSec"] = @ViewData["ValS"]</dd>
    <dt>Mult :</dt>
    <dd>@ViewData["ValFst"] * @ViewData["ValSec"] = @ViewData["ValM"]</dd>
    <dt>Div :</dt>
    <dd>@ViewData["ValFst"] / @ViewData["ValSec"] = @ViewData["ValD"]</dd>
</dl>