﻿@model Backend1.Models.CalcServiceViewModel
@{
    ViewData["Title"] = "PassUsingModel";
}

<h2>PassUsingModel</h2>
<dl>
        <dt>Rand Value First : @Model.ValFst</dt>
        <dt>Rand Value Second : @Model.ValSec</dt>
 
    <dt>Add :</dt>
    <dd>@Model.ValFst + @Model.ValSec = @Model.ValA</dd>
    <dt>Sub :</dt>
    <dd>@Model.ValFst - @Model.ValSec = @Model.ValS</dd>
    <dt>Mult :</dt>
    <dd>@Model.ValFst * @Model.ValSec = @Model.ValM</dd>
    <dt>Div :</dt>
    <dd>@Model.ValFst / @Model.ValSec = @Model.ValD</dd>
</dl>

